body
{
	padding-top: 50px;
	padding-bottom: 20px;
}

nav
{
	padding: 0px 50px;
}

.container-main
{
	padding-top: 30px;
}

.navbar-text.navbar-right
{
	padding: 0px 10px;
}

#error-msg
{
	display: none;
}